<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
			{%- if site.copyright -%}
            <li class="p-name">{{ site.copyright }}</li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
<script type="text/javascript" src="{{ "/assets/js/services.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/sm.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/capsula.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/html.js" | relative_url }}"></script>
<script type="text/javascript">
  (function(){
    var Sandbox = capsula.defCapsule({
      loops: 'root',
      hooks: 'content',
      sandbox: {
        capsule: html.Element,
        args: 'div'
      },
      headerDiv: {
        capsule: html.Element,
        args: 'div'
      },
      contentDiv: {
        capsule: html.Element,
        args: 'div'
      },
      init: function(){
        this.sandbox.getElement().style.display = 'none'; // initially invisible
        this.sandbox.addClass('capsulaSandbox');
        this.headerDiv.setInnerHTML('Tutorial Sandbox');
        this.headerDiv.addClass('header');
        this.content.setEventHandlers(function onHook(){
          this.sandbox.getElement().style.display = 'block'; // gets visible when used
        });
      },
      'sandbox.hook': ['headerDiv.loop', 'contentDiv.loop'],
      'this.content': 'contentDiv.hook',
      'this.root': 'sandbox.loop'
    });
    window.sandbox = new Sandbox();
    sandbox.root.renderInto(document.body);
  })();
</script>