html {
    overflow-y:scroll;
}

.page-content {
	flex: 1 0 auto;
}

.site-title {
	font-weight: 200;
}

button#get-started {
    /*background-color: #33bb55;*/
    background-color: #FF800D;
    border: none;
    padding: 0.6em;
    font-size: 1.5em;
    color: white;
	cursor: pointer;
}

div.centered {
	text-align: center;
	margin: 1em 0;
}

div.floated {
	float: left;
	text-align: center;
	width: 33.3%;
	margin-top: 2em;
}

@media (max-width: 600px) {
	div.floated {
		width: 100%;
	}
}

h1#title {
	font-size: 4em;
	font-weight: 300;
}

p#subtitle {
	letter-spacing: 0.02em;
    font-weight: 200;
    font-size: 1.5em;
}

div.floated > h2 {
	color: #0080F2;
}

div.floated > p {
	color: #888;
}

.site-nav .target-blank {
	/*color: #0090ff;*/
}

.clear {
	clear: both;
}

.top-padding-2 {
	padding-top: 2em;
}

table.module th {
    background-color: khaki;
}

table.class th {
    background-color: papayawhip;
}

table.method th {
    background-color: lightcyan;
}

table.module th, table.class th, table.method th {
	color: #888;
    font-weight: 400;
}

table.module thead th, table.class thead th, table.method thead th {
    font-weight: bold;
}

hr {
    margin-bottom: 1em;
}